# Question 1

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
from scipy import stats

df = pd.read_csv('water_potability.csv')

In [6]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.093092,176.850538,15666.690297,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711,0.000000
50%,7.036752,196.967627,20927.833607,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.000000
75%,8.062066,216.667456,27332.762127,8.114887,359.950170,481.792304,16.557652,77.337473,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

In [7]:
df.dropna()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
...,...,...,...,...,...,...,...,...,...,...
3267,8.989900,215.047358,15921.412018,6.297312,312.931022,390.410231,9.899115,55.069304,4.613843,1
3268,6.702547,207.321086,17246.920347,7.708117,304.510230,329.266002,16.217303,28.878601,3.442983,1
3269,11.491011,94.812545,37188.826022,9.263166,258.930600,439.893618,16.172755,41.558501,4.369264,1
3270,6.069616,186.659040,26138.780191,7.747547,345.700257,415.886955,12.067620,60.419921,3.669712,1
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1

In [8]:
df.drop_duplicates(inplace=True)

In [12]:
df.to_csv('processed_data.csv', index=False)

# Question 2

An outlier is an observation or data point that significantly varies from the
rest of the data points in a dataset.

Outliers can indicate problems with data, reveal new insights, and improve the accuracy of predictive modela.

# Question 3

1. Z-Score Method:

The Z-score method identifies outliers by measuring how many standard deviations a data point is away from the mean. It assumes that the data follows a normal distribution. The formula to calculate the Z-score for a data point ùë• in a dataset with mean Œº and standard deviation œÉ is:

Z = (x ‚Äì Œº) / œÉ

2. IQR (Interquartile Range) Method:

The IQR method defines an outlier as a data point that falls below the first quartile (Q1) minus 1.5 times the interquartile range (IQR), or above the third quartile (Q3) plus 1.5 times the IQR. The IQR is the range between the first and third quartiles.

IQR = Q3 ‚àí Q1

LowerBoundary = Q1 ‚àí 1.5 √ó IQR

UpperBoundary = Q3 + 1.5 √ó IQR

3. Box Plots:

Description: Box plots provide a visual representation of the distribution of data. They show the median, quartiles, and potential outliers. Points beyond the whiskers (calculated based on IQR) are considered outliers. 
For example; Suppose we have a box plot with whiskers at 1.5 times the IQR. If data points extend beyond these whiskers, they are identified as outliers.